:root {
  --font-primary: "Roboto", sans-serif;

  --color-bg: #f8f8f8;
  --color-hedear: #e5e5e5;
  --color-title: #334756;
  --color-text: #5e5e5e;
  --color-btn: #211f1c;
  --color-ac: #acacac;
  --color-dash: #393d45;
  --color-with: #ffffff;
  --color-text-btn: #fbfbfb;

  --radius: 9999px;
  --transition: 0.25s ease;
}

body {
  background-color: var(--color-with);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 1300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.header {
  display: flex;
  width: 96rem;
  height: 115px;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 330px;
  background-color: var(--color-hedear);
}

.title {
  font-size: 39px;
  color: var(--color-title);
  padding: 0;
  text-align: center;
  margin-bottom: 40px;
  width: 99px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.header-link {
  width: 44px;
  height: 19px;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
}

.dash {
  color: var(--color-dash);
}
.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.login-link {
  width: 113px;
  text-align: center;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-btn);
  color: var(--color-bg);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 990px;
  height: 550px;
  gap: 130px;
  margin-top: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
  gap: 15px;
}

.title-form {
  font-size: 43px;
  color: var(--color-title);
  padding: 0;
  text-align: center;
  margin-bottom: 40px;
  width: 110px;
  height: 42px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.input-wrapper {
  width: 355px;
  height: 55px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 0 20px;
  margin-bottom: 18px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(10px);
}
.input-wrapper svg {
  width: 22px;
  opacity: 0.7;
}

.input-wrapper input {
  width: 351px;
  height: 52px;
  padding-left: 9px;
  border: none;
  background-color: #f3f6ff;
  border-radius: var(--radius);
  outline: none;
  transition: var(--transition);
  color: var(--color-text);
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.15px;
  text-align: left;
  position: absolute;
  margin-left: 13px;
}

.login-form button {
  width: 335px;
  height: 52px;
  border-radius: 5px;
  border: none;
  background-color: var(--color-btn);
  color: var(--color-bg);
  cursor: pointer;
}

.forgot {
  text-align: right;
  margin: -10px 10px 25px 0;
  font-size: 14px;
  color: #777;
}

.login-btn {
  width: 362px;
  height: 52px;
  border-radius: 9999px;
  border: none;
  background-color: var(--color-btn);
  color: var(--color-bg);
  cursor: pointer;
}

.register-text {
  font-size: 14px;
  color: var(--color-title);
}

.register-text a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.icon {
  margin-left: -10px;
}
