:root {
  --font-primary: "Roboto", sans-serif;

  --color-bg: #e5e5e5;
  --color-hedear: #f8f8f8;
  --color-title: #334756;
  --color-text: #5e5e5e;
  --color-btn: #211f1c;
  --color-ac: #acacac;

  --radius: 10px;
  --transition: 0.25s ease;
}

body {
  background-color: var(--color-bg);
  font-family: "Roboto", sans-serif;
}

.image1 {
  width: 200px;
  height: auto;
  display: block;
}
