:root {
  --font-primary: "Roboto", sans-serif;

  --color-bg: #f8f8f8;
  --color-hedear: #e5e5e5;
  --color-title: #334756;
  --color-text: #5e5e5e;
  --color-btn: #211f1c;
  --color-ac: #acacac;
  --color-dash: #393d45;
  --color-with: #ffffff;
  --color-text-btn: #fbfbfb;

  --radius: 9999px;
  --transition: 0.25s ease;
}

body {
  background-color: var(--color-with);
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

